* {
  box-sizing: border-box;
}

body {
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
}

form{
  display:relative;
}

input:not([type="checkbox"]):not([type="radio"]),
button,
textarea {
  display: block;
  font: inherit;
  color: inherit;
}
